:root {
  --primary-color: rgb(238, 77, 45);
  --white-color: #fff;
  --black-color: #555555;
  --text-color: #878787;
  --border-color: #dbdbdb;
  --pirPle-color: #ba71da;
  --gray-color: #a3a3a3;
  --blue-color: #0071a7;
  --button-color: #14b9d5;
  --green-color: #1bbc9b;
}
* {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* grid */
.grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}
.grid-items {
  display: flex;
}
.grid__content {
  padding: 0 15px;
}
.grid-border {
  border: 1px solid var(--border-color);
}
.grid-background {
  background-color: var(--button-color);
}
.grid-wrapp {
  margin-top: 25px;
}
.grid__footer {
  padding-top: 70px;
}
.grid-grow {
  width: 100%;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
}
.grid-2-10 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 10px;
}
/* pc-tablet */
@media only screen and (min-width: 740px) and (max-width: 1025px) {
  .header__between--items-row {
    display: block !important;
    top: 0;
    /* visibility: hidden; */
    /* display: none !important; */
    background-color: var(--button-color);
    position: fixed;
    right: 0;
    width: 300px !important;
    z-index: 9999;
    padding: 30px !important;
    text-align: start !important;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .sub__menu {
    display: block !important;
    padding-left: 20px;
    position: initial !important;
    background-color: var(--button-color) !important;
    width: 100% !important;
  }
  .sub__menu-wrap:hover {
    background-color: var(--button-color) !important;
  }
  .sub__menu2 {
    padding-left: 30px !important;
    margin: 0 !important;
    display: block !important;
  }
  .header__between--items-content-detail {
    color: var(--white-color) !important;
  }
  .header__between--items-circle {
    display: block !important;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
  }
  .new::after,
  .best::after,
  .hot::after {
    display: none;
  }

  .sub__menu-wrap {
    border-bottom: 0 !important;
  }
  .grid-2-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header__between--items-img {
    width: 200px !important;
  }
  .app__container-wrap-item {
    height: 11% !important;
  }
  .app__container--appear {
    height: 100% !important;
  }
  .app__container--appear-item {
    height: 100% !important;
    position: relative;
    top: 40% !important;
  }
  .app__container-detail-img {
    width: 100px !important;
  }
  .app__container-detail-info {
    padding-left: 18% !important;
  }
  .app__container-info {
    text-align: center;
    padding-bottom: 20px;
  }
  .app__container-wrap-img {
    height: 100% !important;
  }
  .header__items {
    display: none;
  }
  .grid-10 {
    width: 100%;
  }
  .header__finish-item-content-detail {
    position: inherit !important;
  }
  .grid-items {
    display: inherit;
    text-align: center;
  }
  .header__finish-item-content-between {
    left: 17% !important;
  }
  .grid__content {
    padding: 0;
  }
  .header__between-img-row > li {
    display: flex !important;
    justify-content: center;
  }
  .grid-3-3 {
    flex: 0 0 100%;
    max-width: 100% !important;
  }
  .app__container-title-list-items {
    display: inline-block !important;
  }
  .app__container-list {
    height: 880px !important;
  }
  .app__container-list-img > img,
  .app__container-list-img {
    height: 100% !important;
  }
  .differ {
    padding: 0 40px;
  }
  .app__container--prices,
  .app__container--calendar {
    display: inline-block !important;
  }
  .app__container--calendar-first {
    padding: 0 40px !important;
  }
  .app__container--calendar-first-wrapp-item,
  .app__container--calendar-first-wrapp {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  .orther {
    padding-top: 25px !important;
  }
  .grid-2-5 {
    flex: 0 0 25%;
    max-width: 100%;
    padding: 30px 15px !important;
  }
  .app__container-area {
    display: grid !important;
  }
  .app__container-area-info {
    height: 0 !important;
  }
  .grid-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
  }
  .app__footer-list-between-item {
    display: inline-block !important;
  }
  .app__footer-list-top {
    display: block !important;
    padding: 60px 40px 0 !important ;
  }
  .app__footer-list-title {
    line-height: initial;
  }
  .app__footer-list-input {
    display: grid !important;
    grid-template-rows: 50% 100%;
  }
  .app__footer-list-input > a {
    margin: 0 !important;
    text-align: center;
  }
  .grid-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 30px 0 !important;
  }
  .app__footer-list-between-item {
    height: 900px !important;
  }

  .app__footer-img {
    height: 1400px !important;
  }
  .app__footer--finish-item {
    display: inline-block !important;
    line-height: 40px !important;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .app__container-wrap-item {
    height: 11.5% !important;
  }
}
@media only screen and (min-width: 1024px) {
  .header__between--items-row {
    /* display: none; */
  }

  .app__container-detail-info {
    padding-left: 130px !important;
  }
  .grid-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header__finish-item-content-between {
    left: 30% !important;
  }
}
/* mobile */

@media only screen and (max-width: 740px) {
  .header__between--items-row {
    /* display: none !important; */
  }
  .header__between--items-row {
    display: block !important;
    top: 0;
    /* visibility: hidden; */
    /* display: none !important; */
    background-color: var(--button-color);
    position: fixed;
    right: 0;
    width: 300px !important;
    z-index: 9999;
    padding: 30px !important;
    text-align: start !important;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .sub__menu {
    display: block !important;
    padding-left: 20px;
    position: initial !important;
    background-color: var(--button-color) !important;
    width: 100% !important;
  }
  .sub__menu-wrap:hover {
    background-color: var(--button-color) !important;
  }
  .sub__menu2 {
    padding-left: 30px !important;
    margin: 0 !important;
    display: block !important;
  }
  .header__between--items-content-detail {
    color: var(--white-color) !important;
  }
  .header__between--items-circle {
    display: block !important;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
  }
  .new::after,
  .best::after,
  .hot::after {
    display: none;
  }

  .sub__menu-wrap {
    border-bottom: 0 !important;
  }
  .grid-2-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .grid-2-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .app__container--appear {
    height: 100% !important;
  }
  .app__container--appear-item {
    height: 100% !important;
    position: relative;
    top: 30% !important;
  }
  .app__container-wrap-item {
    height: 7.5% !important;
  }
  .app__container-detail-img {
    width: 100px !important;
  }
  .app__container-detail-info {
    padding-left: 130px !important;
  }
  .app__container-detail-info > li:nth-child(3) {
    padding: 0 12px !important;
    line-height: 30px !important;
  }

  .app__container-info {
    text-align: center;
    padding-bottom: 20px;
  }
  .app__container-wrap-img {
    height: 100% !important;
  }
  .app__container-title > h1 {
    line-height: 32px;
  }
  .header__between--items-img {
    width: 200px !important;
  }
  .header__items {
    display: none;
  }
  .header__between-img-row > li {
    display: flex !important;
    justify-content: center;
  }
  .grid__content {
    padding: 0;
  }
  .header__finish-item-content-detail {
    position: inherit !important;
  }
  .header__finish-item-content-btn {
    padding: 15px 25px !important;
  }
  .header__finish-item-content-between {
    min-width: 100% !important;
    left: 0 !important;
  }
  .grid-items {
    display: inherit;
    text-align: center;
  }
  .grid-3-3 {
    flex: 0 0 100%;
    max-width: 100% !important;
  }
  .app__container--prices,
  .app__container-title-list-items {
    display: inline-block !important;
  }
  .app__container-list {
    height: 880px !important;
  }
  .app__container-list-img > img,
  .app__container-list-img {
    height: 100% !important;
  }
  .differ {
    padding: 0 40px;
  }
  .app__container--calendar {
    display: inline-block !important;
  }
  .app__container--calendar-first {
    padding: 0 40px !important;
  }
  .app__container--calendar-first-wrapp-item,
  .app__container--calendar-first-wrapp {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  .orther {
    padding-top: 25px !important;
  }
  .grid-2-5 {
    flex: 0 0 25%;
    max-width: 100%;
    padding: 30px 15px !important;
  }
  .app__container-area {
    display: grid !important;
  }
  .app__container-area-info {
    height: 0 !important;
  }
  .grid-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-right: 15px;
  }
  .app__footer-list-between-item {
    display: inline-block !important;
  }
  .app__footer-list-title {
    text-align: center !important;
  }
  .app__footer-list-top {
    display: block !important;
    padding: 60px 40px 0 !important ;
  }
  .app__footer-list-title {
    line-height: initial;
  }
  .app__footer-list-input {
    display: grid !important;
    grid-template-rows: 50% 100%;
  }
  .app__footer-list-input > a {
    margin: 0 !important;
    text-align: center;
  }
  .grid-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 30px 0 !important;
  }
  .app__footer-list-between-item {
    height: 1050px !important;
  }

  .app__footer-img {
    height: 1600px !important;
  }
  .app__footer--finish-item {
    display: inline-block !important;
    line-height: 40px !important;
    width: 100%;
    text-align: center;
  }
}

.grid-3 {
  height: 100%;
  padding: 15px;
  width: 33.33%;
}
.grid-3-3 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 0 15px;
}
.grid-7 {
  width: 67.66667%;
  height: 100%;
  padding: 0 15px 0 40px;
}
.grid-4 {
  flex: 0 0 40%;
  max-width: 40%;
  padding-right: 15px;
}
.grid-2-5 {
  width: 25%;
  padding: 0 15px;
}

.grid-2 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 30px;
}
.grid-10 {
  flex: 0 0 100%;
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* nav */
/* btn */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: var(--button-color) !important;
}
.btn-search {
  color: var(--white-color) !important;
}
/* grid */
/* .grid {
  width: 100%;
  display: block;
  padding: 0;
} */

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
